:root{
--primary-text-color: #2e2f42;
--secondary-text-color: #434455; 
--primary-button: #4d5ae5;
--html-button-color: #ffffff;
--portfolio-button-color: #ffffff;
--logo-color: #f4f4fd;
}

.list{
  list-style:none;
}

.link{
  text-decoration:none;
}

body{
  font-family: Roboto, sans-serif;
  background-color: var(--secondary-text-color);
  color: var(--portfolio-button-color);

  
    .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
  
    .logo:{
    hover:#4d5ae5 focus:;
    color: var(--accent-color);
    }

    .logo.link{
    text-decoration: none
    }

    .span:{
    color: #2e2f42;
    }

    .list-style:{
      none
    }
    
    .a href="./index.html:{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }

    .features:{
    background-color:#2e2f42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    }

    .feature-txt:{
    color: #ffffff;
    }

    .button .features:{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff
    
    hover: background-color: #404BBF;
    focus:background-color: #404BBF;
    cursor: pointer;
    }

