:root{
--primary-text-color: rgba();
--title-text-color: ; 
--accent-color: ;
}


body {
  main-color: #434455;
  font-family: Roboto, sans-serif;
  background-color: #FFFFFF;
  color: var (--primary-text-color);

  .list {
    list-style:none;
  }

  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800
    font-size: 18px
    line-height: 1.17
    letter-spacing: 0.03em
    text-transform: uppercase

     color: var(--title-text-color);
  }
  .logo:{
    hover:#4d5ae5;
    color: var(--accent-color);

    .logo.link{
      text-decoration: none
    }

  }

section {
  background-color: ;
}